<div class="form-horizontal" style="padding: 20px; border: 1px solid #ccc; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);">

  <% unless @resume.nil? or @resume.blank? %>
    <%= render "view_profile_content" %>
  <% else %>
    <%= render "profile_content" %>
  <% end %>
  <% if current_user.type_of_user == "recruiter" %>
  	<a href="" onclick="history.go(-1)">Back</a>
  <% end %>
</div>